body {
    background-color: black;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1rem;
  }

  .crime_num {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; /* or less */ 
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }

  .crime_num p {
    color: white; 
    font-size: 1rem;
  }

  .top-bar {
    background-color: #1c1c1c;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem; /* 2rem */ 
  }

  .top-bar-title h1 {
    margin: 0;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
  }

  .form-container {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 2.3rem; 
  }

  input[type="text"],
  select {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-sizing: border-box; 
    width: 100%; 
  }

  input[type="text"]::placeholder {
    color: #aaa;
  }

  button[type="submit"] {
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;

    background: rgba(47, 210, 255, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgb(47, 210, 255);
    margin-top: auto;

}

  button[type="submit"]:hover {
    background-color: #005fa3;
    transform: scale(1.03);
  }



  ul.crime-type {
    list-style: none;
    padding: 0;
  }

  ul.crime-type li {
    padding: 0.5rem;
    border-bottom: 1px solid #444;
  }

  @media screen and (min-width: 640px) {
    .form-container {
      max-width: 600px;
      margin: 0 auto;
    }
  }

label[for="postcode"],
label[for="city"],
label[for="crime_type"], 
label[for="date"] {
    display: block;
    margin-bottom: 0.5rem;
}
